body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background: #f4f4f4;
}

header {
    background: #0051b3;  /* 深蓝色背景 */
    color: #ffffff;       /* 白色文字 */
    padding: 20px 30px;   /* 顶部和底部20px，左右30px的内边距 */
    text-align: center;   /* 文本居中 */
}

header nav ul {
    list-style: none;     /* 去除列表项目前的默认标记 */
}

header nav ul li {
    display: inline;      /* 列表项内联显示，使其水平排列 */
    margin-right: 10px;   /* 列表项之间的右边距为10px */
}

header nav ul li a {
    
    text-decoration: none;/* 去除链接下划线 */
}

header nav ul li a:hover {
    text-decoration: underline; /* 鼠标悬停时添加下划线 */
}

section {
    margin: 20px;         /* 区域外边距为20px */
    padding: 20px;        /* 区域内边距为20px */
    background: #ffffff;  /* 白色背景 */
}

footer {
    text-align: center;   /* 文本居中 */
    padding: 10px 0;      /* 顶部和底部10px内边距，无左右内边距 */
    background: #333;     /* 深灰色背景 */
    color: #ffffff;       /* 白色文字 */
}

.container {
    width: 80%;               /* 容器宽度，根据需要调整 */
    margin: 0 auto;           /* 上下边距0，左右自动，这将使容器水平居中 */
    text-align: left;         /* 文本左对齐 */
    padding: 20px;            /* 内边距，根据需要调整 */
}

h1, h2 {
    text-align: center;       /* 如果需要标题居中可以单独设置 */
}
